In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [19]:
df0 = open('tablas/tbl0.tsv', 'r').readlines()

In [20]:
print (df0)

['_c0\t_c1\t_c2\t_c3\n', '0\tE\t1\t1999-02-28\n', '1\tA\t2\t1999-10-28\n', '2\tB\t5\t1998-05-02\n', '3\tA\t3\t1999-08-28\n', '4\tC\t6\t1999-12-01\n', '5\tA\t7\t1998-07-28\n', '6\tA\t9\t1997-02-28\n', '7\tB\t1\t1999-05-10\n', '8\tE\t2\t1997-04-12\n', '9\tB\t3\t1999-11-23\n', '10\tC\t7\t1998-01-17\n', '11\tC\t5\t1998-12-28\n', '12\tD\t3\t1999-10-15\n', '13\tE\t8\t1998-11-01\n', '14\tB\t9\t1999-08-12\n', '15\tD\t1\t1997-12-01\n', '16\tE\t3\t1997-07-28\n', '17\tD\t5\t1998-08-12\n', '18\tE\t8\t1999-08-24\n', '19\tE\t9\t1998-01-23\n', '20\tE\t7\t1999-06-22\n', '21\tE\t3\t1999-04-24\n', '22\tD\t5\t1999-06-25\n', '23\tA\t1\t1999-08-25\n', '24\tE\t4\t1997-07-26\n', '25\tE\t6\t1997-09-24\n', '26\tA\t8\t1997-09-28\n', '27\tE\t5\t1999-06-22\n', '28\tA\t6\t1999-07-29\n', '29\tC\t0\t1999-08-22\n', '30\tA\t1\t1998-04-26\n', '31\tD\t2\t1998-02-24\n', '32\tE\t5\t1999-03-24\n', '33\tB\t4\t1998-03-23\n', '34\tB\t6\t1999-04-21\n', '35\tD\t7\t1999-02-29\n', '36\tB\t8\t1997-05-21\n', '37\tC\t9\t1997-07-22\n', '38\tE\t1\t1999-09-28\n', '39\tE\t5\t1998-01-26']

In [21]:
df0 = [row[0:-1] for row in df0]

In [22]:
print (df0)

['_c0\t_c1\t_c2\t_c3', '0\tE\t1\t1999-02-28', '1\tA\t2\t1999-10-28', '2\tB\t5\t1998-05-02', '3\tA\t3\t1999-08-28', '4\tC\t6\t1999-12-01', '5\tA\t7\t1998-07-28', '6\tA\t9\t1997-02-28', '7\tB\t1\t1999-05-10', '8\tE\t2\t1997-04-12', '9\tB\t3\t1999-11-23', '10\tC\t7\t1998-01-17', '11\tC\t5\t1998-12-28', '12\tD\t3\t1999-10-15', '13\tE\t8\t1998-11-01', '14\tB\t9\t1999-08-12', '15\tD\t1\t1997-12-01', '16\tE\t3\t1997-07-28', '17\tD\t5\t1998-08-12', '18\tE\t8\t1999-08-24', '19\tE\t9\t1998-01-23', '20\tE\t7\t1999-06-22', '21\tE\t3\t1999-04-24', '22\tD\t5\t1999-06-25', '23\tA\t1\t1999-08-25', '24\tE\t4\t1997-07-26', '25\tE\t6\t1997-09-24', '26\tA\t8\t1997-09-28', '27\tE\t5\t1999-06-22', '28\tA\t6\t1999-07-29', '29\tC\t0\t1999-08-22', '30\tA\t1\t1998-04-26', '31\tD\t2\t1998-02-24', '32\tE\t5\t1999-03-24', '33\tB\t4\t1998-03-23', '34\tB\t6\t1999-04-21', '35\tD\t7\t1999-02-29', '36\tB\t8\t1997-05-21', '37\tC\t9\t1997-07-22', '38\tE\t1\t1999-09-28', '39\tE\t5\t1998-01-2']

In [23]:
df0 = [row.split('\t') for row in df0]

In [24]:
data1 = df0
print (df0)

[['_c0', '_c1', '_c2', '_c3'], ['0', 'E', '1', '1999-02-28'], ['1', 'A', '2', '1999-10-28'], ['2', 'B', '5', '1998-05-02'], ['3', 'A', '3', '1999-08-28'], ['4', 'C', '6', '1999-12-01'], ['5', 'A', '7', '1998-07-28'], ['6', 'A', '9', '1997-02-28'], ['7', 'B', '1', '1999-05-10'], ['8', 'E', '2', '1997-04-12'], ['9', 'B', '3', '1999-11-23'], ['10', 'C', '7', '1998-01-17'], ['11', 'C', '5', '1998-12-28'], ['12', 'D', '3', '1999-10-15'], ['13', 'E', '8', '1998-11-01'], ['14', 'B', '9', '1999-08-12'], ['15', 'D', '1', '1997-12-01'], ['16', 'E', '3', '1997-07-28'], ['17', 'D', '5', '1998-08-12'], ['18', 'E', '8', '1999-08-24'], ['19', 'E', '9', '1998-01-23'], ['20', 'E', '7', '1999-06-22'], ['21', 'E', '3', '1999-04-24'], ['22', 'D', '5', '1999-06-25'], ['23', 'A', '1', '1999-08-25'], ['24', 'E', '4', '1997-07-26'], ['25', 'E', '6', '1997-09-24'], ['26', 'A', '8', '1997-09-28'], ['27', 'E', '5', '1999-06-22'], ['28', 'A', '6', '1999-07-29'], ['29', 'C', '0', '1999-08-22'], ['30', 'A', '1', '1998-04-26'], ['31', 'D', '2', '1998-02-24'], ['32', 'E', '5', '1999-03-24'], ['33', 'B', '4', '1998-03-23'], ['34', 'B', '6', '1999-04-21'], ['35', 'D', '7', '1999-02-29'], ['36', 'B', '8', '1997-05-21'], ['37', 'C', '9', '1997-07-22'], ['38', 'E', '1', '1999-09-28'], ['39', 'E', '5', '1998-01-2']]

In [36]:
    data1 = []
for idx, arr in enumerate(df0):
        data1.append([])
        for elemt in arr:
                 elemt = elemt.split(',')
                 data1[idx] += elemt

In [39]:
print (data1)

[['_c0', '_c1', '_c2', '_c3'], ['0', 'E', '1', '1999-02-28'], ['1', 'A', '2', '1999-10-28'], ['2', 'B', '5', '1998-05-02'], ['3', 'A', '3', '1999-08-28'], ['4', 'C', '6', '1999-12-01'], ['5', 'A', '7', '1998-07-28'], ['6', 'A', '9', '1997-02-28'], ['7', 'B', '1', '1999-05-10'], ['8', 'E', '2', '1997-04-12'], ['9', 'B', '3', '1999-11-23'], ['10', 'C', '7', '1998-01-17'], ['11', 'C', '5', '1998-12-28'], ['12', 'D', '3', '1999-10-15'], ['13', 'E', '8', '1998-11-01'], ['14', 'B', '9', '1999-08-12'], ['15', 'D', '1', '1997-12-01'], ['16', 'E', '3', '1997-07-28'], ['17', 'D', '5', '1998-08-12'], ['18', 'E', '8', '1999-08-24'], ['19', 'E', '9', '1998-01-23'], ['20', 'E', '7', '1999-06-22'], ['21', 'E', '3', '1999-04-24'], ['22', 'D', '5', '1999-06-25'], ['23', 'A', '1', '1999-08-25'], ['24', 'E', '4', '1997-07-26'], ['25', 'E', '6', '1997-09-24'], ['26', 'A', '8', '1997-09-28'], ['27', 'E', '5', '1999-06-22'], ['28', 'A', '6', '1999-07-29'], ['29', 'C', '0', '1999-08-22'], ['30', 'A', '1', '1998-04-26'], ['31', 'D', '2', '1998-02-24'], ['32', 'E', '5', '1999-03-24'], ['33', 'B', '4', '1998-03-23'], ['34', 'B', '6', '1999-04-21'], ['35', 'D', '7', '1999-02-29'], ['36', 'B', '8', '1997-05-21'], ['37', 'C', '9', '1997-07-22'], ['38', 'E', '1', '1999-09-28'], ['39', 'E', '5', '1998-01-2']]